{% extends "base.html" %}
{% block content %}

    <div>
        <h1>Gallery</h1>
        <section class="main-heading gallery">
            <img src="assets\images\pexels-aidan-jarrett-718981.jpg">
            <img src="assets\images\pexels-apostolos-vamvouras-2285500.jpg">
            <img src="assets\images\pexels-arthur-ogleznev-1102777.jpg">
            <img src="assets\images\pexels-athena-1858407.jpg">
            <img src="assets\images\pexels-cottonbro-6328154.jpg">
            <img src="assets\images\pexels-erik-mclean-4061385.jpg">
            <img src="assets\images\pexels-godisable-jacob-977908.jpg">
            <img src="assets\images\pexels-jack-redgate-2929281.jpg">
        </section>
    </div>    

    
{% endblock %}