{% extends "base.html" %}
{% block content %}

    <div class="main-heading">
        <h1>Do you love shoes??</h1>
        <h2>Then this is the place for you!</h2>
        <h3>We love shoes. We love to look at them, we love to wear them, we love to talk about them!</h3>
        <h3>Here, we can share our favourite shoes, see what shoes others love, and perhaps find an idea for our next favourite pair of shoes...</h3>
        <h3>Come join us!</h3>
    </div>

    <div class="trending"></div>

    <div class="explore"></div>
{% endblock %}