{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">{{ username }}'s profile</h3>

    <!-- "Card Panel" from https://materializecss.com/cards.html -->
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel">
               
                <!-- Add-shoes-button -->
                <div class="row">
                    <a href="{{ url_for('add_shoes') }}" class="col btn-large light-blue darken-4">
                        <i class="material-icons tooltipped" data-position="right"
                        data-tooltip="Click to add another pair of shoes!">add</i>
                    </a>
                </div>

                <div class="row">
                    {% for shoe in shoes %}
                        <!-- Only display shoes created by this user (both private and public)-->
                        {% if session.user|lower == shoe.username|lower %}
                            <!-- "Card reveal" from https://materializecss.com/cards.html -->
                            <div class="card small col s12 m6 xl4">
                                <div><h5>{{ shoe.shoes_name }}</h5></div>
                                <!-- Image -->
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{ shoe.shoes_image }}">
                                </div>
                                <!-- Content below image (always visible) -->
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        <a href="{{ url_for('edit_shoes', shoes_id=shoe._id) }}" 
                                            class="btn-small light-blue">Edit
                                        </a>
                                        <i class="material-icons right tooltipped"
                                            data-tooltip="More info">library_books
                                        </i>
                                    </span>
                                </div>
                                <!-- Text to be revealed -->
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ shoe.shoes_name }}
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>{{ shoe.shoes_description }}</p>
                                    <div><small>Category: {{ shoe.category_name }}</small></div>
                                    <div><small>Brand: {{ shoe.brand_name }}</small></div>
                                    <div><small>Heel-height: {{ shoe.heel_height }}</small></div>
                                    <div><small>Toe-shape: {{ shoe.toe_shape }}</small></div>
                                    <div><small>Design: {{ shoe.design_level }}</small></div>
                                    <div><small>Comfort: {{ shoe.comfort_level }}</small></div>
                                    <div><small>Construction: {{ shoe.construction_level }}</small></div>
                                    <div><small>Username: {{ shoe.username }}</small></div>
                                    <div><small>Date added: {{ shoe.date_added }}</small></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}