{% extends "base.html" %}
{% block content %}

    <h2 class="center-align">Shoe-gallery</h2>

    <div class="container white s12">
        <div class="row">
            {% for shoe in shoes %}
                <!-- Display all shoes in database that are not marked as private -->
                {% if shoe.is_private == "no" %}
                    <!-- "Card reveal" from https://materializecss.com/cards.html -->
                    <div class="card small col s12 m6 xl4">
                        <div><h5>{{ shoe.shoes_name }}</h5></div>
                        <!-- Image -->
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ shoe.shoes_image }}">
                        </div>
                        <!-- Content below image (always visible) -->
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                <i class="material-icons right tooltipped" data-tooltip="More info">library_books</i>
                            </span>
                        </div>
                        <!-- Text to be revealed -->
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ shoe.shoes_name }}
                                <i class="material-icons right">close</i>
                            </span>
                            <p>{{ shoe.shoes_description }}</p>
                            <div><small>Category: {{ shoe.category_name }}</small></div>
                            <div><small>Brand: {{ shoe.brand_name }}</small></div>
                            <div><small>Heel-height: {{ shoe.heel_height }}</small></div>
                            <div><small>Toe-shape: {{ shoe.toe_shape }}</small></div>
                            <div><small>Design: {{ shoe.design_level }}</small></div>
                            <div><small>Comfort: {{ shoe.comfort_level }}</small></div>
                            <div><small>Construction: {{ shoe.construction_level }}</small></div>
                            <div><small>Username: {{ shoe.username }}</small></div>
                            <div><small>Date added: {{ shoe.date_added }}</small></div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    

{% endblock %}
